header .nav-link {
    color: gray;
}

header .nav-link:hover, .nav-link:focus {
    color: red;
}

header .logo-text {
    font-size: 22px;
    font-weight: 700;
}

header .nav-link:active {
    color: #ffdb4d;
}

header .nav {
    gap: 10px;
}

.plus-badge {
    color: #fff;
    font-size: 12px;
    line-height: 6px;
    border-radius: 20px;
    background: linear-gradient(101.67deg,#48cce0 7.24%,#505add 34.12%,#be40c0 62.93%,#fba82b 92.22%);
}